.text__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: var(--1);
}
.text__list {
    margin-top: 22px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--07);
}
.text__open{
    margin-top: 22px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--07);
}
